* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to left, rgb(68, 103, 115), rgb(56, 87, 117));
    font-family: "Courier New", Courier, monospace;
}

.heading {
    color: darkblue;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
}

.info {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: darkblue;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 50px;
}

.note {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    height: 200px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    color: darkblue;
}


.note::placeholder {
    color: gray;
    opacity: 30%;
}

.btn {
    height: 200px;
    border-color: rgba(255, 255, 255, 0.37);
    background: rgba(255, 255, 255, 0.27);
    border-radius: 15px;
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.55);
    color: rgba(0, 0, 0, 0.6);
    transition: all 300ms ease;
}