* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(252, 176, 69, 1) 100%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    margin-top: 40px;

}


.digit {
    font-size: 96px;
    color: black;
}

.txt {
    font-size: 56px;
    color: black;
    padding: 0px 10px;
}

.btn-container {
    margin-top: 40px;
}

button {
    font-size: 36px;
    margin: 10px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(131, 47, 47);
    color: white;
}

button:hover {
    background-color: rgb(242, 242, 242);
    color: black;
}

@media(max-width:800px) {

    button {
        font-size: 26px;
    }

    .digit {
        font-size: 56px;
        width: 350px;
    }

}